#zaidimu-aikstele {
  display: block;
  background-color: rgb(54, 169, 75);
}
  /* canvas {
      cursor: none; 
  } */
#debugDiv{
  border: 2px solid #000;
  z-index: 2;
  position: fixed;
  background-color: rgba(54, 169, 75, 0.5)
}

.centras {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  /* opacity: 0.3; */
}
#meniu {
  z-index: 1;
  background-color: rgb(95, 84, 84);
  width: 90vw;
  height: 45vw;
  border: 3px solid rgb(128, 127, 129);
}
#up {
  position: fixed;
  top: 78%;
  right: 18.5%;
  width: 10%; 
}
.asd {
  position: fixed;
  top: 85%;
  right: 0;
  width: 40%; /
}
#back{
  position: fixed;
  top: 50%;
  right: 50%;
  width: 10%;
}
#setings{
  position: fixed;
  top: 60%;
  right: 50%;
  width: 10%;
}
body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.info{
    font-size: 1.5rem;
    font-weight: 50;
    
}
.scorebord {
  position: fixed;
  left: calc(50vw - 2.5vw);
  z-index: 1;
  background-color: rgb(116, 110, 110);
  width: 5vw;
  height: 1.5vw;
  border: 3px solid rgb(48, 46, 51);
  transition: left 0.5s, width 0.5s, height 0.5s, opacity 0.5s;
  overflow: hidden;
}

.scorebord > * {
  /* opacity: 0, 1; */
  margin: auto;
}

/* .scorebord h {
  display: block;
  margin: 1 auto;
} */

.scorebord button,
.scorebord p,
.scorebord h {
  display: none;
}

.scorebord:hover ,.scorebord.active {
  left: calc(50vw - 7.5vw);
  width: 15vw;
  height: auto;
  /* opacity: 0.7; */
}



.scorebord:hover h
,.scorebord.active h {
  display: none;
}

.scorebord:hover button,
.scorebord:hover p,
.scorebord h

{
  display: block;
}

.scorebord.active p,.scorebord.active
{
  display: block;
}
/* vokastas miktuku dizainas */
button {
  align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000000;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -0.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
button:focus {
  color: #171e29;
}

button:hover {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

button:active {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

@media (min-width: 768px) {
  button {
    min-width: 170px;
  }
}
/* voktas miktuku dizainas baiges čia */